a{
    text-decoration: none;
    color: darkslategrey;
    display: block;
    width: 40px;
    padding: 10px;
}

a:hover{
    background-color: lightsalmon;
}
.submit{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    background-color: white;
    margin-left: 595px;

}

.submit:hover{
    background-color: lightsalmon;
    border-color: black;
}

input {
    border-radius: 5px;
    border: 2px solid black;
    width: 300px;
    height: 24px;
    font-size: 16px;
    padding: 4px;
    margin-left: 485px;
}

input:hover{
    border-color: lightsalmon;
}

input:focus {
    border-color: brown;
    outline: none;
}