<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Добавление</title>
  <link rel="stylesheet" href="<?php echo ROOT.'/css/style.css'; ?>" />
</head>

<body>
<a href="../student">На главную</a>
<h3 align="center">Новый студент</h3>
<form name="form" method="post">
<input type="text" name="1" placeholder="Имя" required/><br><br>
<input type="text" name="2" placeholder="Фамилия" required/><br><br>
<input type="text" name="3" placeholder="Электронная почта"/><br><br>
<input type="text" name="4" placeholder="Номер телефона"/><br><br>
  <input type="text" name="5" placeholder="Кафедра"/><br><br>
<input type="submit" class="submit" name="submit" value="Добавить" />


</form>
</body>
</html>