<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование</title>
</head>
<body>
<style>
    a{
        text-decoration: none;
        color: darkslategrey;
        display: block;
        width: 40px;
        padding: 10px;
    }
    a:hover{
        background-color: lightsalmon;
    }
</style>
<a href="javascript:history.back();">Назад</a>
    <h3 align="center">Изменение данных <br>Студент</h3>

<form name="form" method="post">

    <input type="text" name="student_name" value="<?php echo $fetchItem['student_name'] ?>"/>
    <input type="text" name="student_sirname" value="<?php echo $fetchItem['student_sirname'] ?>" />
    <input type="text" name="student_email" value="<?php echo $fetchItem['student_email'] ?>" />
    <input type="text" name="student_telnumber" value="<?php echo $fetchItem['student_telnumber'] ?>" />
    <input type="submit" name="submit" value="Сохранить">

</form>


</body>
</html>