<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование</title>
</head>
<body>
<style>

</style>
    <h3 align="center">Изменение данных <br>Студент</h3>

<form name="form" method="post">
    <input type="text" name="student_name" value="<?php  ?>"/>
    <input type="text" name="student_sirname" />
    <input type="text" name="student_email" />
    <input type="text" name="student_telnumber" />
    <input type="submit" name="submit" value="Добавить" />

<input type="submit" name="submit" value="Сохранить">



</body>
</html>