<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border="1px solid black">

  <th><a href="./homework/add">Добавить запись</a></th>
  <tr>
    <?php foreach ($List->dataArray as $item) : ?>

    <?php foreach ($item as $item2) : ?>

      <td><?php echo $item2; ?></td>



    <?php endforeach; ?>
    <td><a href="./homework/edit/<?php echo $item[0]; ?>">Изменить</a></td>

    <td><a href="./homework/delete/<?php echo $item[0]; ?>">Удалить</a></td>

  </tr>

  <?php endforeach; ?>



</table>
</body>
</html>