<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework№4</title>
</head>
<body>
<style>
  table{
    border-collapse:collapse;
  }
  td{
    padding:10px;
  }
</style>

<table border="1px solid black">
    <caption>University</caption>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>city</th>
        <th>site</th>
</tr>

      <?php foreach ($newsList as $newsItem) : ?>

    <tr>
        <td><?php echo $newsItem['university_id']; ?></td>
        <td><?php echo $newsItem['university_name']; ?></td>
        <td><?php echo $newsItem['university_city']; ?></td>
        <td><?php echo $newsItem['university_site']; ?></td>
    <tr>
      <?php endforeach; ?>


</table>
</body>
</html>