<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Добавление</title>
  <link rel="stylesheet" href="<?php echo ROOT.'/css/style.css'; ?>" />
</head>

<body>
<a href="../student">На главную</a>
<h3 align="center">Новый студент</h3>
<form name="form" method="post">
  <input type="text" name="student_name" placeholder="Имя" required/><br><br>
  <input type="text" name="student_sirname" placeholder="Фамилия" required/><br><br>
  <input type="text" name="student_email" placeholder="Электронная почта"/><br><br>
  <input type="text" name="student_telnumber" placeholder="Номер телефона"/><br><br>
  <input type="text" name="department_id" placeholder="Кафедра"/><br><br>
<input type="submit" class="submit" name="submit" value="Добавить" />


</form>
</body>
</html>